<nav role="navigation" ng-show="isLogged" class="navbar navbar-inverse navbar-fixed-top animated bounceInDown">
  <div class="container">
    <div class="navbar-header hidden-xs"><a href="#" class="navbar-brand">Crossover Video Gallery</a></div>
    <ul class="nav navbar-nav navbar-right logout">
      <li><a class="navbar-user">Welcome, {{ username }}</a></li>
      <li><a href="#/login" title="Logout"><i aria-hidden="true" class="fa fa-sign-out"></i></a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header animated fadeInLeft"><i class="fa fa-user" aria-hidden="true"></i>My Channel</h1>
    </div>
    <div class="input-group col-sm-6 search-wrapper animated fadeInRight">
      <label for="search-input">
        <i class="fa fa-search" aria-hidden="true"></i>
        <span class="sr-only">Search icons</span>
      </label>
      <input type="search" id="search-input" class="form-control " ng-model="search" placeholder="Search videos" autocomplete="off" spellcheck="false" autocorrect="off" tabindex="1">
    </div>

    <div ng-init="listOfVideos.nextPage()" when-scrolled="listOfVideos.nextPage()">
      <div
        ng-animate="animate"
        ng-repeat="video in listOfVideos.items | filter:search"
        class="col-lg-4 col-md-4 col-sm-4 col-xs-12 video animate-repeat animated fadeInUp">
        <label data-target=".single-video" data-toggle="modal" title="{{video.name}}" ng-click="openModal(video)">
          {{video.name}}
        </label>
        <div class="view view-container">
          <div class="embed-responsive embed-responsive-4by3">
            <video class="embed-responsive-item" controls video-handler>
              <source ng-src="{{video.url}}" type="video/mp4">
            </video>
          </div>
          <div class="mask" ng-click="openModal(video)">
            <p>{{video.description | cut:true:120:' ...' }}</p>
            <a class="info" data-target=".single-video" data-toggle="modal" >View Details</a>
          </div>
        </div>
        <span>
          Popularity:
          <star-rating rating-value="video.ratings" on-rating-selected="rateFunction(rating,video._id)"></star-rating>
        </span>
      </div>
      <div ng-show="listOfVideos.busy" class="col-sm-12 text-center">
        <i class="fa fa-spinner fa-spin"></i>
      </div>
    </div>

    <div class="animate-repeat col-sm-12" ng-show="(listOfVideos.items | filter:search).length == 0">
      <h2>No results found...</h2>
    </div>

  </div>
</div>



