.search-wrapper
  position relative
  margin 20px 15px 40px
  label
    position absolute
    left 12px
    top 4px
    z-index 99
    font-size 2em
  #search-input
    width 50%
    padding-left 50px
    border-radius 20px
    transition all .3s
    &:focus
      width 100%

.page-header
  .fa
    margin-right 15px

.fa-sign-out
  margin-left 15px

.video
  cursor pointer
  label
    cursor pointer
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    display block
    height auto
    width 100%

.star-rating
  margin -10px 0 20px
  padding 0
  display inline-block
  .star
    padding 1px
    color #ddd
    font-size 20px
    text-shadow .05em .05em #aaa
    list-style-type none
    display inline-block
    cursor pointer
    &.filled
      color #fd0
  &.readonly
    .star
      &.filled
        color #666

.view
  width 100%
  height 100%
  margin-bottom 5px
  float left
  overflow hidden
  position relative
  text-align center
  p
    font-size 12px
    position relative
    color #fff
    padding 40px 20px 20px
    text-align justify
    height 65%
  a
    &.info
      display inline-block
      text-decoration none
      padding 7px 14px
      background #000
      color #fff
      text-transform uppercase
      -webkit-box-shadow 0 0 1px #000
      -moz-box-shadow 0 0 1px #000
      box-shadow 0 0 1px #000
      &:hover
          -webkit-box-shadow 0 0 5px #000
          -moz-box-shadow 0 0 5px #000
          box-shadow 0 0 5px #000

.view .mask, .view .content
  width 100%
  height 85%
  position absolute
  overflow hidden
  top 0
  left 0

.view-container
  &:hover h2,
  &:hover p,
  &:hover a.info
    -ms-filter "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)"
    opacity 1
    transform translateY(0)
  img
    transition all 0.2s linear
  .mask
    -ms-filter "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"
    opacity 0
    background-color rgba(100,100,100, 0.7)
    transition all 0.4s ease-in-out
  h2
    transform translateY(-100px)
    -ms-filter "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"
    opacity 0
    transition all 0.2s ease-in-out
  p
    transform translateY(100px)
    -ms-filter "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"
    opacity 0
    transition all 0.2s linear
  &:hover
    img
      transform scale(1.1,1.1)
    .mask
      -ms-filter "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)"
      opacity 1
    p
      transition-delay 0.1s
    a
      &.info
        transition-delay 0.2s
  a
    &.info
      -ms-filter "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"
      opacity 0
      transition all 0.2s ease-in-out


//Login form
.form-signin
  color black
  max-width 330px
  padding 15px
  margin 0 auto
  .checkbox
    font-weight normal
  .form-control
    position relative
    font-size 16px
    height auto
    padding 10px
    -webkit-box-sizing border-box
    -moz-box-sizing border-box
    box-sizing border-box
    &:focus
      z-index 2
  input[type="text"]
    margin-bottom -1px
    border-bottom-left-radius 0
    border-bottom-right-radius 0
  input[type="password"]
    margin-bottom 10px
    border-top-left-radius 0
    border-top-right-radius 0
  a
    color black

.form-signin .form-signin-heading, .form-signin .checkbox
  margin-top 15px

.account-wall
  margin-top 20px
  padding 40px 0 40px 0
  background-color rgba(255,255,255, 1)
  box-shadow 0 2px 2px rgba(0, 0, 0, 0.3)

.login-title
  color #0a0a0a
  font-size 18px
  font-weight 400
  display block

.profile-img
  width 96px
  height 96px
  margin 0 auto 10px
  display block
  -moz-border-radius 50%
  -webkit-border-radius 50%
  border-radius 50%

